{{> Header }}
{{#if error}}
<p style="color: red;" id="error">{{error}}</p>
{{/if}}
<!---->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>

<form method="POST" action="{{ path 'review' }}" id="new-review-form">

    <input type="hidden" id="gameId" name="gameId" value= {{ gameId}}>

	<label for="title">Review Title:</label>
    <input type="text" id="title" name="title" value="">
    <select  id="stars" name="stars" >
        <option value="1">⭐</option> 
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
    </select>
	
	<label for="review">Review:</label>
    <input type="text" id="review" name="review" value="">


	<input type="submit" value="Leave Review" id="register-form-submit-button">
</form>
    </form>
{{> Footer}}