{{> Header }}
    <h1>Login</h1>

    {{#if error}}
    <p style="color: red;" id="error">{{error}}</p>
    {{/if}}

<form method="POST" action="{{ path 'login' }}" id="login-form">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{rememberedEmail}}">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="remember">Remember Me?</label>
    <input type="checkbox" id="remember" name="remember">

    <input type="submit" value="Login" id="login-form-submit-button">
</form>
{{> Footer}}
