{{> Header }}

<h1>Register</h1>
<h2 id="error"> {{ error }} </h2>
<form method="POST" action="/users" id="register-form">
	<div>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" />
	</div>
 	<div>
		<label for="password">Password:</label>
		<input type="text" id="password" name="password" />
	</div>
		<div>
		<label for="confirmPassword"> Confirm Password:</label>
		<input type="text" id="confirmPassword" name="confirmPassword" />
	</div>
	<input type="submit" value="Register" id="register-form-submit-button">
</form>


{{> Footer}}
