{{> Header }}

<h1>All Games</h1>

{{#unless todos}}
	<p>No games found</p>
{{else}}
	<ol id="games">
		{{#each games}}
			<li game-id="{{ this.id }}">
				<a href="/games/{{ this.id }}">{{ this.title }}</a>
			</li>
		{{/each}}
	</ol>
{{/unless}}

{{> Footer}}
