@font-face {
  font-family: SilkScreen;
  src: url(../fonts/slkscr.ttf);
}

* {
    box-sizing: border-box;
    background-color:rgb(30, 27, 54);
    color:white;
}
  
body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 1200px; /* Max width */
    padding: 20px;
}

button {
  padding: 9px 25px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(173, 63, 206, 1);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.search-button{
  padding: 9px 25px;
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(173, 63, 206, 1);
  border: none;
}
button:hover {
  background-color: rgba(173, 63, 206, 0.8);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  margin: 1%;
  background-color: rgb(17, 15, 33);
}

.topGames{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.gameInfo{
  display: flex;
  justify-content: space-between;
  width:400px;
  margin:20px;
}
/* TOP NAV BAR ======================== */

header nav, header nav ul {
  background-color: rgb(17, 15, 33);

}

.nav-links {
  padding: 0;
}

* {
  font-family: SilkScreen, Arial, sans-serif;
  text-decoration: none;
}

p {
  font-family: 'Exo 2', Arial, sans-serif;
  font-size: 18px;
  margin: 5px 0px 5px 0px;
}

h1, h2, h3, h4 {
  margin: 5px 0px 5px 0px;
}


.nav-links li {
  display: inline-block;
  padding: 10px;
}

.nav-links li a {
  color:rgb(225, 161, 244);
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: white;
}

/* GAME REVIEWS ======================= */
.reviews-container{
  display: flex;
  flex-direction: column;
  margin:10px;
  padding: 5px;
  background-color: rgb(173, 63, 206, 1);
  border-radius: 5px;
}

.review-container {
  padding: 15px;
}

.review-text {
  margin:7px;
}
.review-title {
  margin:7px;
  font-weight: bold;
  font-size: larger;
}
.review-profile-pic {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin:7px;
}

.review-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-profile-container, .game-review, .game-info {
  display: flex;
  flex-direction: row;
}

.game-info {
  width: 40%;
  justify-content: space-between;
}

.like-logo {
  margin: 5px;
  color: white;
}

.like-button{
  height: 20px;
  margin: 5px;
}

/* WISHLIST */
.ol-wishlist {
  list-style: none;
}

/* GAME LIST DISPLAY */
.game-list-details {
  margin: 5px 20px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.game-list {
  margin: 5px 20px;
  display: flex;
  flex-direction: row;
}

.game-list-buttons {
  display: flex;
  flex-direction: row;
}

.game-link-title {
  color: rgb(173, 63, 206, 1);
}

.remove-button {
  background-color:rgb(255, 78, 78);
}

.add-button {
  background-color:aquamarine;
}

.game-description {
  margin: 10px;
  height: 150px;
  overflow: scroll;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center
}
.statsBox{
  background-color: blueviolet;
}
.userInfo{ 
  display:flex;
  flex-direction: row;
  background-color: blueviolet;
  border-radius: 10px;
  align-items: center;
  padding:5px;

}
.userInfo input{
  height: 30px;
  background-color: rgb(17, 15, 33);
  margin: 10px;
  background-color: blueviolet;
}
.userInfo h3{
  background-color: blueviolet;
  margin: 10px;
}
#search{
  margin: 10px;
  width: 800px;
  height: 40px;
  border-radius: 5px;
}
#login-form input{
  margin: 5px;

}