* {
    box-sizing: border-box;
    background-color:rgb(30, 27, 54);
    color:white;
}
  
body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
}


/* GAME REVIEWS */
.reviews-container{
  display: flex;
  flex-direction: column;
  margin:10px;
  padding: 5px;
  background-color: #7fc3ef;
  border-radius: 5px;
}


.review-text {
  margin:7px;
}
.review-profile-pic {
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  margin:7px;
}

.review-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-review {
  display: flex;
  flex-direction: row;
}

.like-logo {
  margin: 5px;
  color: white;
}

.like-button{
  height: 20px;
  margin: 5px;
}